.flex{
    display: flex;
}
.set-dimensions{
    width: 500px;
    height: 500px;
}
.vertical-flex{
    display: flex;
    flex-direction:column;
}
.justify-around{
    justify-content: space-around;
    align-items: center;

}
.align-center{
    justify-content: space-around;
}
.container{
    padding: 10px;
    background-color: black;
}
.smallest{
    flex: 1;
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
}
.flex1{
    flex: 1;
}
button{
    display: block;
    padding: 10px;
    margin: 3px;
}
.header{
    padding: 30px;
    font-size: 30px;
    font-weight: bold;
}
